<h1>New Name Generator</h1>

<%= form_for @generator do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :seed, "Seed Names" %>
    <%= f.text_area :seed %>
  </p>

  <%= f.submit %>
<% end %>

<%= link_to 'Back', generators_path %>
