<h1><%= @generator.name %> Generator</h1>

<%= form_tag generator_path(@generator), class: "refresh", method: :get do %>
  <%= label_tag "Number of names:" %>
  <%= number_field_tag :num, @num %>
  <%= submit_tag "Refresh" %>
<% end %>

<h2>Names:</h2>

<ul id="generator_list">
  <% @names.each do |name| %>
    <li><%= name %></li>
  <% end %>
</ul>

<%= link_to 'Back', generators_path %>
