<!DOCTYPE html>
<html>
  <head>
    <title>Homunculus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div id="logo">
        <h1><%= link_to 'Homunculus', root_path %></h1>
      </div><div id="header-links">
        <% if current_user %>
          <%= link_to "Logout", logout_path, method: :delete %>
        <% else %>
          <%= link_to "Login", login_path %>
          <%= link_to "Signup", signup_path %>
        <% end %>
      </div>
    </header>

    <section id="container">
      <% if flash.alert %>
        <div id="error-area">
          <h2>Whoops:</h2>
          <ul>
            <% flash.alert.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= yield %>
    </section>
  </body>
</html>
